.news {
    padding: 0;

    .news__all-news {
        .news__container:nth-child(odd) {
            background: url(../img/cute-bone-pattern-yellow-background.svg);
            height: 100%;
            width: 100%;
            // background-size: contain;
            text-shadow:
                -0 -3px 6px rgba(255, 255, 255, 0.3),
                0 -3px 6px rgba(255, 255, 255, 0.3),
                -0 3px 6px rgba(255, 255, 255, 0.3),
                0 3px 6px rgba(255, 255, 255, 0.3),
                -3px -0 6px rgba(255, 255, 255, 0.3),
                3px -0 6px rgba(255, 255, 255, 0.3),
                -3px 0 6px rgba(255, 255, 255, 0.3),
                3px 0 6px rgba(255, 255, 255, 0.3),
                -1px -3px 6px rgba(255, 255, 255, 0.3),
                1px -3px 6px rgba(255, 255, 255, 0.3),
                -1px 3px 6px rgba(255, 255, 255, 0.3),
                1px 3px 6px rgba(255, 255, 255, 0.3),
                -3px -1px 6px rgba(255, 255, 255, 0.3),
                3px -1px 6px rgba(255, 255, 255, 0.3),
                -3px 1px 6px rgba(255, 255, 255, 0.3),
                3px 1px 6px rgba(255, 255, 255, 0.3),
                -2px -3px 6px rgba(255, 255, 255, 0.3),
                2px -3px 6px rgba(255, 255, 255, 0.3),
                -2px 3px 6px rgba(255, 255, 255, 0.3),
                2px 3px 6px rgba(255, 255, 255, 0.3),
                -3px -2px 6px rgba(255, 255, 255, 0.3),
                3px -2px 6px rgba(255, 255, 255, 0.3),
                -3px 2px 6px rgba(255, 255, 255, 0.3),
                3px 2px 6px rgba(255, 255, 255, 0.3),
                -3px -3px 6px rgba(255, 255, 255, 0.3),
                3px -3px 6px rgba(255, 255, 255, 0.3),
                -3px 3px 6px rgba(255, 255, 255, 0.3),
                3px 3px 6px rgba(255, 255, 255, 0.3),
                -3px -3px 6px rgba(255, 255, 255, 0.3),
                3px -3px 6px rgba(255, 255, 255, 0.3),
                -3px 3px 6px rgba(255, 255, 255, 0.3),
                3px 3px 6px rgba(255, 255, 255, 0.3);
        }

        .news__container:nth-child(even) {
            background: url(../img/FPixelSmear.svg);
            height: 100%;
            width: 100%;
            background-size: contain;
        }

        .news__container:last-child {
            background-size: cover;
        }

        .news__one-new {
            padding: 20px 9%;

            .news__date {
                display: flex;
                align-items: baseline;
                height: 1.5em;

                .news__calendar {

                    width: 1.5em;
                    height: 1.5em;
                    padding-right: 10px;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    margin-bottom: 0.5em;
                }
            }

            .news__pic {
                /* background: url(../img/dog-4364620_1920.jpg) no-repeat;
            background-size: contain; */
                height: 300px;
                max-width: 450px;

                margin-bottom: 0.5em;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .animate {
                opacity: 0;
                animation-delay: .9s;
            }
        }
    }
}

#cont .active {
    // 
    animation: fadeInHorizontal 2s ease-out 1 forwards;
    opacity: 1;
}



@media screen and (max-width: 980px) {
    .news .news__all-news .news__container:nth-child(even) {
        width: 100%;
        background-size: cover;
    }
    h1{
    	padding-top: 10px;
    }
}
@media screen and (max-width: 500px) {
    .news .news__all-news .news__pic {
        height: 200px;
    }
    h1{
    	padding-top: 0;
    }
}

@keyframes fadeInHorizontal {
    0% {
        height: 0;
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    25% {
        height: 100%;
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        height: 100%;
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}